<template name='entrySignUp'>

  <div id="entrySignUpPage" class="ui page">
      <div class="ui grid one column center aligned ">
          <div class="column wide twelve">
                {{#if logo}}
                  <a href="/" class="center aligned">
                  <img src="{{logo}}" alt="Logo" class="ui small rounded image entry-logo">
                  </a>
                {{else}}
                  <a href="/" class="center aligned">
                     <i class="huge green circular user icon entry-icon"></i>
                  </a>
                {{/if}}

                <h3 class="ui header">Create an Account</h3>
                <p>If you already have an account <a href="/sign-in">sign in</a>.</p>


                {{#if otherLoginServices}}

                <div class="ui vertical buttons">
                  {{#each loginServices}}
                    {{>entrySocial}}
                  {{/each}}
                </div>

                <div class="ui horizontal section divider"> OR </div>

                {{else}}
                <hr>
                <!--<p class="entry-signin-cta">If you already have an account <a href="/sign-in">sign in</a>.</p>-->
                {{/if}}


                 <form class="ui form segment {{signupClass}}" id="signUp">
                        {{> entryError}}

                        {{#if showUsername}}
                        <div class="field">
                        <!--<label>Username</label>-->
                        <input  name="username" type="text" placeholder="Username" value=''>
                        </div>
                        {{/if}}

                        {{#if showEmail}}
                        <div class="field">
                          <!-- <label>Email Address</label> -->
                          <input name="email" placeholder="Email Address" type="email" value=''>
                        </div>
                        {{/if}}

                        <div class="field">
                          <!-- <label>Password</label> -->
                          <input name="password" type="password" placeholder="Password" value=''>
                        </div>


                        {{#if showSignupCode}}
                        <div class="field">
                          <!--<label>Signup Code</label>-->
                          <input name="signupCode" type="text"  placeholder="Signup Code" value=''>
                        </div>

                        {{/if}}

                        <button type="submit" class="submit fluid blue ui button">Sign Up</button>
                </form>

                {{#if both}}
                <div class="ui justified center aligned basic segment">
                  <p class="entry-agreement">By clicking Sign up, you agree to our
                    <a href="{{privacyUrl}}">Privacy Policy</a> and
                    <a href="{{termsUrl}}">Terms of Use</a>.
                  </p>
                </div>
                {{else}}
                {{#unless neither}}
                <div class="ui justified center aligned basic segment">
                <p class="entry-agreement">By clicking Sign up, you agree to our
                  {{#if privacyUrl}}<a href="{{privacyUrl}}">Privacy Policy</a>.{{/if}}
                  {{#if termsUrl}}<a href="{{termsUrl}}">Terms of Use</a>.{{/if}}
                </p>
                </div>
                {{/unless}}
                {{/if}}


          </div>
      </div>
  </div>

</template>