<template name='entrySignIn'>

  <div id="entrySignInPage" class="ui page ">
      <div class="ui grid one column center aligned ">
          <div class="column wide twelve">
                {{#if logo}}
                  <a href="/" class="center aligned">
                  <img src="{{logo}}" alt="Logo" class="ui small rounded image entry-logo">
                  </a>
                {{else}}
                  <a href="/" class="center aligned">
                     <i class="huge green circular user icon entry-icon"></i>
                  </a>
                {{/if}}


                 <form class="ui form segment" id="signIn">

                        <h3 class="ui header">Log In</h3>

                        <div class="field">
                          <label>Email</label>
                          <input name="email" placeholder="{{emailPlaceholder}}" value='{{email}}' type="{{emailInputType}}">
                        </div>

                        <div class="field">
                          <label>Password</label>
                          <input name="password" type="password" class="form-control" value='{{password}}' placeholder="Password">
                        </div>

                        <div class="inline field">
                          <a href="/forgot-password"><h5>Forgot password?</h5></a>
                        </div>

                        <button type="submit" class="fluid blue submit ui button">Sign in</button>
                </form>

                <div class="ui basic justified center aligned segment">
                  <p>Don't have an account? <a href="/sign-up">Sign up</a></p>
                </div>

          </div>
      </div>
  </div>

</template>


<template name="old">
    <div  class="page">
    <img class="background-fish" src="{{ landingPageBackgroundImage }}">
    <div class="container">
      <div class="row">
        <div class="entry col-md-4 col-md-offset-4">
          {{#if otherLoginServices}}
          <div class="entry-social">
            {{#each loginServices}}
            {{> entrySocial}}
            {{/each}}
            <div class="email-option">
              <strong class="line-thru or-sign-in">OR</strong>
            </div>
          </div>
          {{/if}}

          {{> entryError}}

          {{#unless otherLoginServices}}
          <div class="email-option">
            <h3>Sign In</h3>
            <hr>
          </div>
          {{/unless}}

          <!--<p class="entry-signup-cta">Don't have an account? <a href="/sign-up">Sign up</a></p>-->
          <hr>
          <div class="centered"><a href="/forgot-password">Forgot password?</a></div>
          <!--<a href="/sign-up"><button type="submit" class=" submit btn btn-default">Don't have an account?</button></a>-->
        </div>
      </div>
    </div>
  </div>
</template>
