@import 'lib/variables';


.main-title{
  position: relative;
}


.page-title {
bottom: 5em;
  position: absolute;

  @media @mobile {
    font-size: 1rem;
    bottom: 1em;
  }
}


#btn {
  position: fixed;
  right: 0;
  z-index: 998;
}


.parsley-error-list {
color: #E81123;
padding-left: 20px;
margin-bottom: 15px;
list-style: none;
}
