@import 'lib/variables';


.main-title{
  position: relative;
}


.page-title {
bottom: 5em;
  position: absolute;

  @media @mobile {
    font-size: 1rem;
    bottom: 1em;
  }
}


#btn {
  position: fixed;
  right: 0;
}