<template name="portfolio">

  <div class=" one column ui grid main-title">
    <div class="CoverImage FlexEmbed FlexEmbed--3by1" style="background-image:url(/img/img19.jpg);"></div>

    <div class="column page-title">
      <div class="basic segment">
        <div class="ui center aligned header">
         <h1>This is the portfolio page</h1>
         <div class="sub header">Showcasing latest work stuff</div>
        </div>
      </div>
    </div>
  </div>

<div class="ui connected stackable items">
  <div class="row">
    <div class="item">
      <div class="image">
        <img src="/img/img4.jpg">
      </div>
      <div class="content">
        <div class="name">Work 1</div>
        <p class="description">This dog has some things going for it. Its pretty cute and looks like it'd be fun to cuddle up with.</p>
      </div>
    </div>
    <div class="item">
      <div class="image">
        <img src="/img/img5.jpg">
      </div>
      <div class="content">
        <div class="name">Work 2</div>
        <p class="description">Sometimes its more important to have a dog you know you can trust. But not every dog is trustworthy, you can tell by looking at its smile.</p>
      </div>
    </div>
    <div class="item">
      <div class="image">
        <img src="/img/img6.jpg">
      </div>
      <div class="content">
        <div class="name">Work 3</div>
        <p class="description">Silly dogs can be quite fun to have as companions. You never know what kind of ridiculous thing they will do.</p>
      </div>
    </div>
  </div>
</div>

</template>