<template name="home">

  <div class="one column ui grid main-title">
    <div class="CoverImage FlexEmbed FlexEmbed--3by1" style="background-image:url(/img/img16.jpg);"></div>

    <div class="column page-title">
      <div class="basic segment">
        <div class="ui center aligned inverted header">
         <h1>Meteor Semantic Boilerplate</h1>
         <div class="sub header">Meteor.js + Semantic UI = LOVE</div>
        </div>
      </div>
    </div>
  </div>


  <div class="two column doubling center aligned ui grid">

      <div class="six wide column">
        <div class="ui segment">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
        </div>
      </div>
      <div class="six wide column">
        <div class="ui segment">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
        </div>
      </div>
  </div>


  <div class="ui three column doubling grid">
      <div class="column">
      <h2 class="ui huge center aligned icon header">
        <i class="circular inverted rocket icon"></i>
        <div class="content">Meteor.js<div class="sub header">Real-Time javascript framework</div>
        </div>
      </h2>
      </div>
      <div class="column">
      <h2 class="ui huge center aligned icon header">
        <i class="circular inverted checkmark icon"></i>
        <div class="content">Semantic UI<div class="sub header">Semantic HTML for the Masses</div>
        </div>
      </h2>
      </div>
      <div class="column">
      <h2 class="ui huge center aligned icon header">
        <i class="circular inverted magic icon"></i>
        <div class="content">Boilerplate<div class="sub header">Custom stuff to get going</div>
        </div>
      </h2>
      </div>
  </div>

  <div class="ui inverted horizontal section divider">
      <i class="green circular basic lightning icon"></i>
  </div>


  <div class="ui grid center aligned ">
<!--     <div class="ui image">
      <img src="/img/img80.jpg" alt="" class="ui large image">
    </div> -->
    <div class="ui column six wide">
      {{>subscriber}}
    </div>
  </div>



  <div class="ui inverted horizontal section divider">
      <i class="green circular basic community icon"></i>
  </div>






</template>