<template name="no_rights">
<div class="ui one column grid center aligned">
    <div class="column six wide">
        <div class="ui basic segment">

            <div class="ui huge icon header">
              <i class="inverted green circular question icon"></i>
              <h3 class="ui header">Sorry</h3>
              <div class="sub header">You don't have the rights to access this page </div>
            </div>

            <div class="ui horizontal icon divider">
                <i class="large circular angle down icon"></i>
            </div>

            <div class="ui header">
                <a href="/sign-in">
                    <div class="ui down button">
                      <i class="user icon"></i>
                      Sign In
                    </div>
                </a>
            </div>

            <div class="ui horizontal icon divider">OR</div>

            <div class="ui header">
                <a href="/">
                    <div class="ui down button">
                      <i class="home icon"></i>
                      Go back to Home Page
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
</template>