<template name="header">
<!--     <div class="ui vertical floating sidebar menu">
      <a class="item" href="{{pathFor 'home'}}">
        <i class="home icon"></i>
        Home
      </a>
      <a class="item" href="{{pathFor 'portfolio'}}">
        <i class="heart icon"></i>
        Current Section
      </a>
      <a class="item" href="{{pathFor 'test'}}">
        <i class="facebook icon"></i>
        Like us on Facebook
      </a>
      <div class="item">
        <b>More</b>
        <div class="menu">
          <a class="item">About</a>
          <a class="item">Contact Us</a>
        </div>
      </div>
    </div> -->


<div class="ui fluid fixed inverted menu">
  <a class="item" href="{{pathFor 'home'}}"><i class="home icon"></i>Home</a>
  <a class="item" href="{{pathFor 'portfolio'}}"><i class="lab icon"></i>Portfolio</a>
  <a class="item" href="{{pathFor 'test'}}"><i class="beer icon"></i>Test</a>
  <a class="item" href="{{pathFor 'entrySignIn'}}"><i class="user icon"></i>Sign In</a>
  {{#if isInRole 'admin'}}
  <a class="item" href="{{pathFor 'admin'}}"><i class="dashboard icon"></i>Admin</a>
  {{/if}}
  <div class="right menu">
  {{accountButtons}}
  </div>
</div>


<!-- <div class="ui vertical fixed icon menu">
  <a class="red item button">
    <i class="mail icon"></i>
  </a>
  <a class="teal item">
    <i class="lab icon"></i>
  </a>
  <a class="green item">
    <i class="star icon"></i>
  </a>
</div> -->
</template>