<template name="adminTemplate">
    <h1 class="ui large center aligned header">Welcome to your Admin Page :)</h1>


      <div class="two column doubling center aligned ui grid">

          <div class="column">
            <div class="ui segment">
              <h2 class="ui huge center aligned icon header">
                <i class="green edit icon"></i>
                <div class="content">Edit Your Collections<div class="sub header">Using the amazing Ogno-admin Package</div>
                </div>
              </h2>
            </div>
          </div>
          <div class="column">
            <div class="ui segment">
              <h2 class="ui huge center aligned icon header">
                <i class="green upload icon"></i>
                <div class="content">Upload Your Files<div class="sub header">Easily upload files with Filepicker.io</div>
                </div>
              </h2>
            </div>
          </div>
      </div>


    <div class="ui horizontal icon divider">
        <i class="red circular heart icon"></i>
    </div>

        <div class="ui piled segment">
          <h4 class="center aligned header ui">This is AdminTemplate</h4>
          <p>You can do absolutely anything you want to customize the look and feel of this Admin section. </p>
          <p>For more info go and checkout @matteodem's amazing package <a href="https://github.com/matteodem/meteor-ogno-admin">Ogno Admin</a> </p>
            </div>

    <div class="two column doubling center aligned ui grid">

        <div class="six wide column">
            <a href="/" class="ui secondary blue large button "><i class="home icon"></i> Home Page</a>
        </div>
        <div class="six wide column">
            <a href="/sign-out" class="ui secondary red large button "><i class="sign out icon"></i>Sign Out</a>
        </div>

    </div>
</template>