<template name="entryAccountButtons">

{{#if wrapLinks}}

  {{#if currentUser}}
      <div class="ui dropdown item">
    {{#if profileUrl}}
        <a href="{{profileUrl}}"><i class="icon user"></i>{{signedInAs}} <i class="dropdown icon"></i></a>
      {{else}}
        <i class="icon user"></i>{{signedInAs}} <i class="dropdown icon"></i>
    {{/if}}
        <div class="menu">
          <a href="/sign-out" class="item"><i class="sign out icon"></i>Sign-out</a>
        </div>
      </div>

  {{else}}
      <div class="ui dropdown item">
        <i class="icon user"></i><i class="icon dropdown"></i>
        <div class="menu">
          <a href="/sign-in" class="item"><i class="sign in icon"></i>Sign-in</a>
          <a href="/sign-up" class="item"><i class="icon user"></i>Sign-up</a>
        </div>
      </div>

  {{/if}}


{{else}}

  {{#if currentUser}}
      <div class="menu">
        <div class="item">
        {{#if profileUrl}}
            <a href="{{profileUrl}}"><i class="icon user"></i>{{signedInAs}} <i class="dropdown icon"></i></a>
          {{else}}
            <i class="icon user"></i>{{signedInAs}} <i class="dropdown icon"></i>
        {{/if}}
        </div>
          <a href="/sign-out" class="item"><i class="mail icon">Sign Out</i></a>
      </div>

  {{else}}
      <div class="menu">
          <a href="/sign-in" class="item"><i class="sign in icon"></i>Sign-in</a>
          <a href="/sign-up" class="item"><i class="icon user"></i>Sign-up</a>
      </div>

  {{/if}}


{{/if}}

</template>

