<template name="entryError">
  {{#if error}}
    <hr>
    {{#if errorColor}}
      <div class='alert alert-danger'>{{error}}</div>
    {{else}}
      <div class='centered clickable unselectable sign-up-btn alert alert-warning'>{{error}}</div>
    {{/if}}
  {{/if}}


  {{#if error}}
    {{#if errorColor}}
      <div class="ui red message">
        <div>{{error}}</div>
      </div>
    {{else}}
      <div class="ui red message">
        <div>{{error}}</div>
      </div>
      {{/if}}
  {{/if}}
</template>
