<template name="contact">


  <div class="ui page grid center aligned">
    <div class="column twelve wide ">
      <h2 class="ui huge center aligned icon header">
        <i class="circular emphasized inverted orange chat outline icon"></i>
          <div class="content">Contact Us<div class="sub header">Don't hesitate</div>
        </div>
      </h2>
      <div class="ui inverted horizontal section divider">
        <i class="green circular mail icon"></i>
      </div>

      <form id="contact-form" class="ui form segment" parsley-validate novalidate>
          <div class="field">
              <label>Name</label>
              <input id="contact-name" placeholder="Name" type="text" parsley-required="true" data-trigger="change">
          </div>
          <div class="field">
            <label>Email</label>
            <input placeholder="Email" type="email" id="contact-email" parsley-required="true" data-trigger="change">
          </div>
          <div class="field">
            <label>Your Message</label>
            <textarea id="contact-message" rows="6" parsley-required="true"></textarea>
          </div>

          <button class="ui blue submit button" name="submit" type="submit" data-sending-message="Sending..." data-ok-message="Message Sent">Send</button>
      </form>

    </div>
  </div>

</template>