<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" sizes="16x16 32x32" href="/favicon.ico?v=2">
    <title>Meteor Boilerplate with Semantic UI</title>

   <script src="//cdnjs.cloudflare.com/ajax/libs/parsley.js/1.2.2/parsley.min.js" type="text/javascript" charset="utf-8"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700|Roboto+Slab:300' rel='stylesheet' type='text/css'>

  </head>



<template name="layout">
{{yield 'header'}}
{{yield}}
{{yield 'footer'}}
</template>